@{
    ViewData["Title"] = "HAZOP Sub-Sofware";

    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <link rel="stylesheet" href="~/assets/css/theme.min.css">

    <link rel="stylesheet" href="~/assets/css/tablefreezer.css">

    <link href="~/assets/css/theme.min.css" type="text/css" rel="stylesheet" id="style-default">
    <link href="~/assets/css/choices.min.css" type="text/css" rel="stylesheet">

    <script src="~/assets/js/config.js"></script>
    <link rel="stylesheet" href="~/css/button.css" />
}

<div class="content mt-1" style="font-size: 12px; min-height: auto!important;" id="divPage" ng-controller="ctrlAppPage">

    <div class="row g-0">

        <div class="col-12">
            <div class="card shadow-sm p-2 mb-3 bg-light rounded">
                <div class="card-body p-2">
                    <div class="row gx-0 align-items-center">

                        <div class="card px-2 ">

                            <div class="row g-3 justify-content-between align-items-center pt-2 pb-3">

                                <div class="col-8 col-md">
                                    
                                    <div class="row">
                                        <div class="col-auto">
                                            <b>PHA No.:</b> <br>
                                            @* <span class="text-uppercase text-primary cursor-pointer" ng-click="selectDocPreview()"> {{ (data_header[0].pha_version>0 ? data_header[0].pha_no : data_header[0].pha_sub_software + '-2023-00000XX')}}</span> *@
                                            <span class="text-uppercase" ng-click="selectDocPreview()"> {{ (data_header[0].pha_version>0 ? data_header[0].pha_no : data_header[0].pha_sub_software + '-2023-00000XX')}}</span>

                                        </div>
                                        <div class="col-auto">
                                            <b>Revision :</b> <br>
                                            <span ng-if="data_header[0].pha_version>0 "> {{data_header[0].pha_version_text + '(' + data_header[0].pha_version_desc  +  ')'}}</span>
                                            <span ng-if="data_header[0].pha_version==0 "> - </span>
                                        </div>

                                        <div class="col-auto">
                                            <b>Request Status :</b> <br>
                                            <span> {{data_header[0].pha_status_displayname}}</span>
                                        </div>
                                        <div class="col-auto">
                                            <b>{{data_header[0].txt_project_name_header }} :</b> <br>
                                            <span> {{data_header[0].txt_project_name}}</span> 
                                        </div>

                                    </div> 

                                </div>
                                <div class="col-auto">
                                    <div class="d-flex align-items-center py-2  justify-content-end">
                                        <span class="mx-2" ng-if="cancle_type">
                                            <button class="btn btn-outline-secondary btn-sm" style="width: 100px;"
                                                    ng-click="confirmFollowBackSearch()">
                                                Back
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="row g-3 justify-content-between align-items-center pt-0 pb-0">
                                <div class="col-12 col-md mx-1 ">

                                    <div class="table-responsive scrollbar tableFixHead ">

                                        <table class="table fs--2 mb-0 table-bordered " cellpadding="0" cellspacing="0">
                                            <thead class="text-uppercase  bg-light-secondary">
                                                <tr class="text-center">
                                                    <th class="sort align-middle " colspan="1" rowspan="3">
                                                        Recommen<br />dations No
                                                    </th>
                                                    <th class="sort align-middle " colspan="1" rowspan="3" scope="col">
                                                        {{pha_sub_software=='whatif'?'Task':'Node'}}
                                                    </th>
                                                    <th class="sort align-middle " colspan="1" rowspan="3" scope="col">
                                                        {{pha_sub_software=='whatif'?"What's if(Casuse)":'Casuse No'}}
                                                    </th>
                                                    <th class="sort align-middle " colspan="1" rowspan="3">
                                                        Recommendations
                                                    </th>
                                                    <th class="sort align-middle" colspan="2" rowspan="1" scope="col">
                                                        Risk Assessment Matrix
                                                    </th>
                                                    <th class="sort align-middle " colspan="1" rowspan="3" scope="col">
                                                        HAZOP RECOMMENDATION <br /> RESPONSE SHEET 
                                                    </th>
                                                    <th class="sort align-middle " colspan="1" rowspan="3" scope="col" ng-if="!(flow_status == 13)">
                                                        Action<br />Status<br />(Items)
                                                    </th>
                                                    <th class="sort align-middle " colspan="2" rowspan="1" scope="col">
                                                        Recommendations Close Plan
                                                    </th>
                                                    <th class="sort align-middle " colspan="1" rowspan="3" scope="col" ng-if="!(flow_status == 13)">
                                                        Action Close Date
                                                    </th>
                                                    <th class="sort align-middle " colspan="1" rowspan="3" scope="col" ng-if="(flow_status == 13)">
                                                    Action responded
                                                    </th>

                                                    <th class="sort align-middle " colspan="1" rowspan="3">
                                                        Over Due (Day)
                                                    </th>
                                                        <th class="sort align-middle " colspan="1" rowspan="3" scope="col">
                                                        Action Owner
                                                    </th>
                                                    <th class="sort align-middle " colspan="1" rowspan="3"></th>
                                                </tr>

                                                <tr class="text-center">
                                                    <th class="sort align-middle" scope="col" title="MITIGATED RISK ASSESSMENT MATRIX">Before<br />Action</th>
                                                    <th class="sort align-middle" scope="col">After<br />Action</th>
                                                    <th class="sort align-middle   bg-light-secondary" scope="col" rowspan="2" style="width:50%">
                                                        Start<br />Date
                                                    </th>
                                                    <th class="sort align-middle   bg-light-secondary" scope="col" rowspan="2" style="width:50%">
                                                        End<br />Date
                                                    </th>
                                                </tr>

                                                <tr class="text-center">
                                                    <th class="sort align-middle " scope="col">
                                                        <div class="d-flex ">
                                                            <div class="align-items-center ">
                                                                <p class="transition-none btn-reveal fs--2p-1 ps-0 text-center rounded-1" style="width: 20px; height:20px">
                                                                    S
                                                                </p>
                                                            </div>
                                                            <div class="align-items-center ">
                                                                <p class="transition-none btn-reveal fs--2p-1 ps-0 text-center rounded-1" style="width: 20px; height:20px">
                                                                    L
                                                                </p>
                                                            </div>

                                                            <div class="align-items-center ">
                                                                <p class="transition-none btn-reveal fs--2p-1 ps-0 text-center rounded-1" style="width: 20px; height:20px">
                                                                    R
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </th>

                                                    <th class="sort align-middle " scope="col">
                                                        <div class="d-flex ">
                                                            <div class="align-items-center ">
                                                                <p class="transition-none btn-reveal fs--2p-1 ps-0 text-center rounded-1" style="width: 20px; height:20px">
                                                                    S
                                                                </p>
                                                            </div>

                                                            <div class="align-items-center ">
                                                                <p class="transition-none btn-reveal fs--2p-1 ps-0 text-center rounded-1" style="width: 20px; height:20px">
                                                                    L
                                                                </p>
                                                            </div>

                                                            <div class="align-items-center ">
                                                                <p class="transition-none btn-reveal fs--2p-1 ps-0 text-center rounded-1" style="width: 20px; height:20px">
                                                                    R
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </th>

                                                </tr>

                                            </thead>
                                            <tbody class="list" id="customer-rating-table-body text-1100 ">

                                                <tr ng-repeat="item_d in data_details"
                                                    class="hover-actions-trigger btn-reveal-trigger position-static px-0 text-center">

                                                    <td class="align-top  px-1">
                                                        <div class="text-center">
                                                            <p class="mb-0 ms-3 fw-bold" style="width: 30px;" rows="3">
                                                                {{item_d.recommendations_no}}
                                                            </p>
                                                        </div>
                                                    </td>

                                                    <td class="align-top  px-1">
                                                        <div class="d-flex text-start">
                                                            <p class="mb-0 ms-3 fw-bold" style="width: 30px;" rows="3">
                                                                {{item_d.node_no+'.'}}
                                                            </p>
                                                        </div>
                                                    </td>

                                                    <td class="align-top  px-1">
                                                        <div class="align-items-center ">
                                                            <p class="mb-0 ms-3 fw-bold" style="width: 25px;" rows="3">{{item_d.causes_no+'.'}}</p>
                                                        </div>
                                                    </td>

                                                    <td class="align-top  px-1">
                                                        <div class="d-flex text-start">
                                                            <p class="mb-0 ms-3 fw-bold" style="width: 120px;" rows="3">
                                                                {{item_d.recommendations}}
                                                            </p>
                                                        </div>
                                                    </td>

                                                    <td class="align-top  px-1   ">
                                                        <div class="d-flex ">
                                                            <div class="align-items-center ">
                                                                <p class="transition-none fs--2p-1 ps-0 text-center rounded-1"
                                                                   ng-click="openModalDataRAM('s',item_d,'after',item_d.id_ram,true)" style="width: 20px; height:20px">
                                                                    {{item_d.ram_after_security}}
                                                                </p>
                                                            </div>

                                                            <div class="align-items-center ">
                                                                <p class="transition-none fs--2p-1 ps-0 text-center rounded-1"
                                                                   ng-click="openModalDataRAM('l',item_d,'after',item_d.id_ram,true)" style="width: 20px; height:20px">
                                                                    {{item_d.ram_after_likelihood}}
                                                                </p>
                                                            </div>

                                                            <div class="align-items-center ">
                                                                <p ng-style=" { 'background-color' : ((item_d.ram_after_risk == 'H') ? 'red' : ((item_d.ram_after_risk == 'M') ? 'yellow' : ((item_d.ram_after_risk == 'L') ? 'green' : '#D3D3D3')) ) }"
                                                                   class="transition-none btn-reveal fs--2p-1 ps-0 text-center rounded-1 cursor-pointer"
                                                                   ng-click="openModalDataRAM('r',item_d,'after',item_d.id_ram,true)" style="width: 20px; height:20px">
                                                                    {{item_d.ram_after_risk}}
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </td>

                                                    <td class="align-top  px-1   ">
                                                        <div class="d-flex ">
                                                            <div class="align-items-center ">
                                                                <p class="transition-none btn-reveal fs--2p-1 ps-0 text-center rounded-1 cursor-pointer"
                                                                   ng-click="openModalDataRAM('s',item_d,'action',item_d.id_ram,false)" style="width: 20px; height:20px">
                                                                    {{item_d.ram_action_security}}
                                                                </p>
                                                            </div>

                                                            <div class="align-items-center ">
                                                                <p class="transition-none btn-reveal fs--2p-1 ps-0 text-center rounded-1 cursor-pointer"
                                                                   ng-click="openModalDataRAM('l',item_d,'action',item_d.id_ram,false)" style="width: 20px; height:20px">
                                                                    {{item_d.ram_action_likelihood}}
                                                                </p>
                                                            </div>

                                                            <div class="align-items-center ">
                                                                <p ng-style=" { 'background-color' : ((item_d.ram_action_risk == 'H') ? 'red' : ((item_d.ram_action_risk == 'M') ? 'yellow' : ((item_d.ram_action_risk == 'L') ? 'green' : '#D3D3D3')) ) }"
                                                                   class="transition-none btn-reveal fs--2p-1 ps-0 text-center rounded-1 cursor-pointer"
                                                                   ng-click="openModalDataRAM('r',item_d,'action',item_d.id_ram,false)" style="width: 20px; height:20px">
                                                                    {{item_d.ram_action_risk}}
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </td>

                                                    <td class="align-top  px-0">
                                                        <div class="ms-3">
                                                            <input type="checkbox"
                                                                ng-model="item_d.implement"
                                                                ng-click="actionImplement(item_d)"
                                                                style="cursor: pointer;width:20px; height:20px;">
                                                        </div>
                                                    </td>

                                                    <td class="align-top  px-0" style=" min-width:200px;">
                                                        <textarea class="form-control form-control-sm rounded-1 p-0 mt-1 w-100 border border-end-0 border-top-0"
                                                                style=" width: 100vh; font-size: 10px;"
                                                                placeholder="Remark" 
                                                                rows="1"
                                                                ng-change="actionInput(item_d)"
                                                                ng-model="item_d.responder_comment">
                                                        </textarea>
                                                        <div id="valid-remark-{{item_d.seq}}"
                                                            class="invalid-feedback text-danger">
                                                            Please provide a valid Remark.
                                                        </div>
                                                    </td>

                                                    <td class="align-top px-1" style="min-width:200px;">
                                                        <div class=" p-0 cursor-pointer " 
                                                             ng-repeat="item_x in data_drawingworksheet | filter:{id_worksheet:item_d.seq, action_type : '!delete'}">
                                                            <div class="d-flex flex-nowrap"
                                                                 ng-if="!((flow_status == 14 ? item_d.reviewer_action_type : item_d.responder_action_type) == 2)">
                                                                <div class="font-sans-serif btn-reveal-trigger position-static me-1">
                                                                    <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs--2 p-1"
                                                                            type="button" data-bs-toggle="dropdown" data-boundary="window"
                                                                            aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
                                                                        <span class="fas fa-cog text-info"></span>
                                                                    </button>
                                                                    <div class="dropdown-menu dropdown-menu-end py-2">
                                                                        <a class="dropdown-item text-success"
                                                                           ng-click=addDataWorksheetDrawing(item_x,item_d.seq)>
                                                                            <span class="fas fa-copy"></span>
                                                                            Add
                                                                        </a>
                                                                        <div class="dropdown-divider"></div><a class="dropdown-item text-danger"
                                                                                                               ng-click=removeDataWorksheetDrawing(item_x,item_d.seq)>
                                                                            <span class="fas fa-times-circle"></span> Remove
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="align-items-center">
                                                                    <div class="uploadbox ">
                                                                        <span class="nametext ms-3 filename-text me-2" 
                                                                            id="filename{{item_x.seq}}">
                                                                            {{(item_x.document_file_size>0? item_x.document_file_name + '('+  item_x.document_file_size + 'KB)' : '')}}
                                                                        </span>
                                                                        <label class="uploadfile dz-message-text text-info fw-bold p-2" for="attfile-{{item_x.seq}}"
                                                                               style="cursor: pointer;">
                                                                            <i class="fa-solid fa-arrow-up-from-bracket fa-xl me-1"></i>
                                                                            <span class="upload-text d-none d-lg-inline">Upload File</span>
                                                                        </label>
                                                                        <input type="file" id="attfile-{{item_x.seq}}"
                                                                               name="file{{item_x.seq}}"
                                                                               onchange="
                                                                               angular.element(this).scope().fileSelect(this);"
                                                                               ng-click="
                                                                               alert(item_x.seq);
                                                                               setSeqUpload(item_d.seq)" 
                                                                               style="display:none" />
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="text-start p-0 cursor-pointer d-flex flex-nowrap" ng-if="isSelectFile">
                                                                <a class="nametext ms-3 filename-text me-2" ng-if="flow_status == 13 && item_x.document_file_size>0" ng-click="downloadFile(item_x)">
                                                                    <i class="far fa-file-pdf text-danger" ng-if="item_x.document_file_size>0"></i> {{(item_x.document_file_size>0? item_x.document_file_name + '('+  item_x.document_file_size + 'KB)' : '')}}
                                                                </a>
                                                                <a class="nametext ms-3 filename-text me-2" ng-if="flow_status == 14 && item_x.document_file_size>0" ng-click="downloadFile(item_x)">
                                                                    <i class="far fa-file-pdf text-danger" ng-if="item_x.document_file_size>0"></i> {{(item_x.document_file_size>0? item_x.document_file_name + '('+  item_x.document_file_size + 'KB)' : '')}}
                                                                </a>
                                                            </div>

                                                        </div>
                                                        @* <div ng-class="{'invalid-feedback text-danger': !(form_valid.valid_document_file==true && item_d.seq == id_worksheet_select), 'feedback text-danger': form_valid.valid_document_file}">
                                                            Please provide a valid document file.
                                                        </div> *@
                                                        <div id="valid-upload_file-{{item_d.seq}}"
                                                            class="invalid-feedback text-danger text-start">
                                                            Please provide a valid Document file.
                                                        </div>
                                                    </td>

                                                    <td class="align-top  px-1" ng-if="!(flow_status == 13)">
                                                        <div class="align-items-start " style=" width: 95px;">
                                                            <select class="form-select form-select-sm p-1"
                                                                    ng-model="item_d.action_status"
                                                                    ng-change="actionChangedData(item_d)"
                                                                    ng-if="!((flow_status == 14 ? item_d.reviewer_action_type : item_d.responder_action_type) == 2)">
                                                                <option id="Open" ng-if="flow_status == 13">Open</option>
                                                                <option id="Responed">Responed</option>
                                                                <option id="Closed" ng-if="flow_status >= 14 || flow_role_type =='admin'">Closed</option>
                                                            </select>

                                                            <textarea class="form-control form-control-sm rounded-1 p-0 mt-1 w-100 border border-end-0 border-top-0"
                                                                      style=" width: 100vh; font-size: 10px;"
                                                                      placeholder="Comment" rows="1"
                                                                      ng-model="item_d.reviewer_comment"
                                                                      ng-if="!((flow_status == 14 ? item_d.reviewer_action_type : item_d.responder_action_type) == 2)"></textarea>

                                                            <div class="row" ng-if="((flow_status == 14 ? item_d.reviewer_action_type : item_d.responder_action_type) == 2)">
                                                                <h6><b>{{item_d.action_status}}</b></h6>
                                                                <p>Comment: {{item_d.reviewer_comment}}</p>
                                                            </div>

                                                        </div>

                                                    </td>

                                                    <td class="align-top  px-0" style=" width: 70px;">
                                                        <div class="align-items-center ">
                                                            <p><b>{{item_d.estimated_start_date_text}}</b></p>
                                                        </div>
                                                    </td>

                                                    <td class="align-top  px-0" style=" width: 70px;">
                                                        <div class="align-items-center ">
                                                            <p><b>{{item_d.estimated_end_date_text}}</b></p>
                                                        </div>
                                                    </td>

                                                    <td class="align-top  px-0" style=" width: 70px;" ng-if="!(flow_status == 13)">
                                                        <div class="align-items-center ">
                                                            <p><b>{{item_d.reviewer_date}}</b></p>
                                                        </div>
                                                    </td>

                                                    <td class="align-top  px-0">
                                                        <div class="align-items-center ">
                                                            <p class="text-danger"><b>{{item_d.over_due}}</b></p>
                                                        </div>
                                                    </td>

                                                    <td class="align-top  px-1">
                                                        <div class="align-items-center ">
                                                            <p class="mb-0 ms-3 fw-bold" style="width: 120px;">
                                                                {{item_d.responder_user_displayname}}
                                                            </p>
                                                            <a class="nametext ms-3 filename-text me-2" ng-if="flow_status == 14" ng-click="downloadFileOwner(item_d)">
                                                                <i class="far fa-file-pdf text-danger"></i> Document File
                                                            </a>
                                                        </div>
                                                    </td>

                                                    <td class="align-top px-0 pt-0 ">
                                                        <div class="d-flex">
                                                            <button class="btn btn-outline text-primary  p-1 m-2 me-0" 
                                                                    style=" background-color: #f1f2f4; width:50px;"
                                                                    ng-click="actionSave(item_d)"
                                                                    ng-if="!((flow_status == 14 ? item_d.reviewer_action_type : item_d.responder_action_type) == 2)">
                                                                <span class="fa fa-save text-primary fa-lg"></span><br />
                                                                <span style="font-size:8px">Save</span>
                                                            </button>

                                                            <button class="btn btn-outline text-success  p-1 m-2 ms-1"
                                                                    style="background-color: #f1f2f4; width:80px; "
                                                                    ng-click="showConfirmDialogSubmit(item_d,'submit')"
                                                                    ng-if="!((flow_status == 14 ? item_d.reviewer_action_type : item_d.responder_action_type) == 2)">
                                                                <span class="fa fa-save text-success fa-lg"></span><br />
                                                                <span style="font-size:8px">{{flow_status == 14 ?'Approve and Close' : 'Submit to Reviewer' }}</span>
                                                            </button>

                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>

                                    <div class="d-none" ng-if="(flow_status >= 13 && flow_role_type =='admin')">
                                        <label class="form-label ps-0" for="description_general">Comment :</label>
                                        <label class="form-label ps-0" ng-if="select_history_tracking_record">
                                            <a class="form-label far fa-comment-alt text-warning cursor-pointer" data-bs-toggle="tooltip"
                                               data-bs-placement="top" title="" data-bs-html="true"></a>
                                        </label>
                                        <textarea class="form-control rounded-1" ng-class="{'disabled-link':(!tab_general_active)}"
                                                  id="review_folow_comment" name="review_folow_comment"
                                                  placeholder="Comment" style="height: 100px"
                                                  ng-model="data_general[0].review_folow_comment"
                                                  ng-change="actionChangedDataComment(data_general[0])"></textarea>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-xl shadow-sm p-3 mb-5  rounded" id="modalRAM" tabindex="-1"
         aria-labelledby="modalRAMLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered"
             ng-style=" { 'width' :  (selectedDataRamType !=5 && (selectedDataNodeWorksheetRamType == 's' || selectedDataNodeWorksheetRamType == 'l')  ) ?'500px' :  '100%' }">

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title d-none" id="modalRAMLabel">Risk Assessment Matrix (RAM)</h5>
                    
                    <div class="col-auto ms-auto" style="zoom:1.5">
                        <b class="pe-1 me-1"> Security : {{cal_ram_action_security}}</b>
                        <b class="pe-1 me-1"> Likelihood : {{cal_ram_action_likelihood}}</b>
                        <b class="pe-1 me-1">  Risk : </b>
                        <label class="pe-1 me-1 text-center" style="width:100px"
                               ng-style=" { 'background-color' : ((cal_ram_action_risk == 'H') ? 'red' : ((cal_ram_action_risk == 'M') ? 'yellow' : ((cal_ram_action_risk == 'L') ? 'green' : '#D3D3D3')) ) }">{{cal_ram_action_risk}}</label>
                    </div>


                    <button class="btn p-1" type="button" data-bs-dismiss="modal" aria-label="Close">
                        <svg class="svg-inline--fa fa-xmark fs--1" aria-hidden="true" focusable="false" data-prefix="fas"
                             data-icon="xmark" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"
                             data-fa-i2svg="">
                            <path fill="currentColor" d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z">
                            </path>
                        </svg>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="row">

                      @*   <div class="col-12 mb-1">
                            <b class="pe-1 me-1"> Security : {{cal_ram_action_security}}</b>
                            <b class="pe-1 me-1"> Likelihood : {{cal_ram_action_likelihood}}</b>
                            <b class="pe-1 me-1">  Risk : </b>
                            <label class="pe-1 me-1 text-center" style="width:200px"
                                   ng-style=" { 'background-color' : ((cal_ram_action_risk == 'H') ? 'red' : ((cal_ram_action_risk == 'M') ? 'yellow' : ((cal_ram_action_risk == 'L') ? 'green' : '#D3D3D3')) ) }">{{cal_ram_action_risk}}</label>
                        </div> *@

                        <div class="col-6" ng-if="!previewRam">
                            <table class="table table-sm fs--1 mb-0 col-auto ">
                                <thead class="bg-light-primary">
                                    <tr>
                                        <td rowspan="2" class="text-center"></td>
                                        <th rowspan="1" colspan="3" class="text-center" ng-if="selectedDataRamType != 5">Security</th>
                                        <th rowspan="1" colspan="6" class="text-center" ng-if="selectedDataRamType == 5">Security</th>
                                    </tr>
                                    <tr ng-if="selectedDataRamType != 5">
                                        <td class="text-center">Level</td>
                                        <td>Description</td>
                                    </tr>
                                    <tr ng-if="selectedDataRamType == 5">
                                        <td class="text-center">Level</td>
                                        <td>People</td>
                                        <td>Assets</td>
                                        <td>Enhancement</td>
                                        <td>Reputation</td>
                                        <td>Product Quality</td>
                                    </tr>
                                </thead>

                                <tbody class=" align-top text-start">
                                    <tr class="hover-actions-trigger btn-reveal-trigger position-static "
                                        ng-repeat="item_ram in master_security_level | filter:{id_ram:selectedDataID_Ram,category_type:item_ram.category_type}">
                                        <td class=" text-end" style="width: 80px;">
                                            <a class="pointer" ng-click="selectDataRAM('s',item_ram.security_level)"
                                               data-bs-dismiss="modal" aria-label="Close">Select</a>
                                        </td>
                                        <td class="text-center">{{item_ram.security_level}}</td>
                                        <td ng-if="item_ram.category_type !== 5">{{item_ram.security_text}}</td>
                                        <td ng-if="item_ram.category_type == 5">{{item_ram.people_text}}</td>
                                        <td ng-if="item_ram.category_type == 5">{{item_ram.assets_text}}</td>
                                        <td ng-if="item_ram.category_type == 5">{{item_ram.enhancement_text}}</td>
                                        <td ng-if="item_ram.category_type == 5">{{item_ram.reputation_text}}</td>
                                        <td ng-if="item_ram.category_type == 5">{{item_ram.product_quality_text}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-6" ng-if="!previewRam">
                            <table class="table table-sm fs--1 mb-0 col-auto ">
                                <thead class="bg-light-primary">
                                    <tr>
                                        <td rowspan="2" class="text-center"></td>
                                        <th rowspan="1" colspan="3" ng-if="selectedDataRamType != 5">Likelihood</th>
                                        <th rowspan="1" colspan="5" ng-if="selectedDataRamType == 5">Likelihood</th>
                                    </tr>
                                    <tr ng-if="selectedDataRamType != 5">
                                        <td class="text-center">Level</td>
                                        <td>Description</td>
                                    </tr>
                                    <tr ng-if="selectedDataRamType == 5">
                                        <td class="text-center">Level</td>
                                        <td>Description</td>
                                        <td>Description(2)</td>
                                        <td>Criterion</td>
                                    </tr>
                                </thead>

                                <tbody class=" align-top text-start">
                                    <tr class="hover-actions-trigger btn-reveal-trigger position-static "
                                        ng-repeat="item_ram in master_likelihood_level | filter:{id_ram:selectedDataID_Ram,category_type:item_ram.category_type}">
                                        <td class="text-end pointer" style="width: 80px;">
                                            <a class="pointer" ng-click="selectDataRAM('l',item_ram.likelihood_level)"
                                               data-bs-dismiss="modal" aria-label="Close">Select</a>
                                        </td>
                                        <td class="text-center">{{item_ram.likelihood_level}}</td>
                                        <td ng-if="item_ram.category_type !== 5">{{item_ram.likelihood_show}}</td>

                                        <td ng-if="item_ram.category_type == 5">{{item_ram.likelihood_text}}</td>
                                        <td ng-if="item_ram.category_type == 5">{{item_ram.likelihood_desc}}</td>
                                        <td ng-if="item_ram.category_type == 5">{{item_ram.likelihood_criterion}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-12 mt-1 pt-1" style="zoom:0.7;">

                            <table class="table table-sm fs--1 mb-0" ng-if="selectedDataRamType != 5">
                                <thead class="">
                                    <tr>
                                        <th rowspan="2" colspan="1" class="text-center">ระดับความรุนแรง</th>
                                        <th rowspan="1" colspan="4" class="text-center">โอกาสในการเกิดความเสี่ยง</th>
                                    </tr>
                                    <tr>
                                        <th rowspan="1" colspan="1" class="text-center">{{master_ram_level[0].likelihood1_level}}</th>
                                        <th rowspan="1" colspan="1" class="text-center">{{master_ram_level[0].likelihood2_level}}</th>
                                        <th rowspan="1" colspan="1" class="text-center">{{master_ram_level[0].likelihood3_level}}</th>
                                        <th rowspan="1" colspan="1" class="text-center">{{master_ram_level[0].likelihood4_level}}</th>
                                    </tr>
                                </thead>
                                <tbody class=" list">
                                    <tr class="hover-actions-trigger btn-reveal-trigger position-static"
                                        ng-repeat="item_ram in master_ram_level  | filter:{id_ram:selectedDataID_Ram}">
                                        <td class="align-top text-center">{{item_ram.security_level}}</td>
                                        <td class="align-top text-center" ng-style=" { 'background-color' : ((item_ram.ram1_priority == 'H') ? 'red' : ((item_ram.ram1_priority == 'M') ? 'orange' : ((item_ram.ram1_priority == 'L') ? 'yellow' : 'green')) ) }">{{item_ram.ram1_text}}<br />{{ (item_ram.ram1_text == 'H' ? 4 : (item_ram.ram1_text == 'M' ? 3 : (item_ram.ram1_text == 'L' ? 2 : 1)))}}</td>
                                        <td class="align-top text-center" ng-style=" { 'background-color' : ((item_ram.ram2_priority == 'H') ? 'red' : ((item_ram.ram2_priority == 'M') ? 'orange' : ((item_ram.ram2_priority == 'L') ? 'yellow' : 'green')) ) }">{{item_ram.ram2_text}}<br />{{ (item_ram.ram2_text == 'H' ? 4 : (item_ram.ram2_text == 'M' ? 3 : (item_ram.ram2_text == 'L' ? 2 : 1)))}}</td>
                                        <td class="align-top text-center" ng-style=" { 'background-color' : ((item_ram.ram3_priority == 'H') ? 'red' : ((item_ram.ram3_priority == 'M') ? 'orange' : ((item_ram.ram3_priority == 'L') ? 'yellow' : 'green')) ) }">{{item_ram.ram3_text}}<br />{{ (item_ram.ram3_text == 'H' ? 4 : (item_ram.ram3_text == 'M' ? 3 : (item_ram.ram3_text == 'L' ? 2 : 1)))}}</td>
                                        <td class="align-top text-center" ng-style=" { 'background-color' : ((item_ram.ram4_priority == 'H') ? 'red' : ((item_ram.ram4_priority == 'M') ? 'orange' : ((item_ram.ram4_priority == 'L') ? 'yellow' : 'green')) ) }">{{item_ram.ram4_text}}<br />{{ (item_ram.ram4_text == 'H' ? 4 : (item_ram.ram4_text == 'M' ? 3 : (item_ram.ram4_text == 'L' ? 2 : 1)))}}</td>

                                    </tr>
                                </tbody>
                            </table>

                            <div ng-if="( selectedDataRamType == '5' )">

                                <div class="text-center cursor-pointer ">
                                    <img src="~/js/_flow/rma-img-5x5.png">
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <div class="modal fade" id="modalMsgConfirm" tabindex="-1" aria-labelledby="modalMsgConfirmLabel" aria-hidden="true"
         style="display: none;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="text-900 mb-0" data-anchor="data-anchor" id="modalMsgConfirmLabel" style="font-size:25px;">
                        <span class=" me-2 text-primary"><B>|</B></span> Do you want to update and close the item?
                    </h5>

                    <button class="btn p-1" type="button" data-bs-dismiss="modal" aria-label="Close">
                        <svg class="svg-inline--fa fa-xmark fs--1" aria-hidden="true" focusable="false"
                             data-prefix="fas" data-icon="xmark" role="img" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 320 512" data-fa-i2svg="">
                            <path fill="currentColor"
                                  d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z">
                            </path>
                        </svg>
                    </button>

                </div>
                <div class="modal-body">
                    <button class="btn btn-success me-1 mb-1" type="button">Yes</button>
                </div>
            </div>
        </div>
    </div>

    <!--Modal Check ปุ่ม Submit-->
    <div class="modal fade" id="modalConfirmSubmit" tabindex="-1" aria-labelledby="modalConfirmSubmitLabel"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="width: 100%; min-height: 300px;">
                <div class="modal-header justify-content-center align-items-center bg-primary" style="display: flex !important;">
                    <div class="d-flex mb-2 d-none">
                        <i class="fa-solid fa-envelope-open-text fa-lg"
                           style="color: rgb(255, 255, 255); font-size: 80px; font-weight: bold;"></i>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="d-flex justify-content-center align-items-center mb-5">
                        <h5 ng-if="!ready_to_complate" class="modal-title mb-0 text-center" id="modalConfirmSubmitLabel" style="font-size: 40px; font-weight: bold;">
                            Do you want to update and close the item?
                        </h5>
                        <h5 ng-if="ready_to_complate" title="Popup แจ้งกรณีที่เป็นการ Approve รายการสุดท้าย" class="modal-title mb-0 text-center"
                        id="modalConfirmSubmitLabel" style="font-size: 25px; font-weight: bold;">
                            {{pha_sub_software =='whatif'?"What's If": pha_sub_software }} Ready to complate. <br />Do you want to update and close the item?
                        </h5>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="row col-12 justify-content-between">
                        <!-- เพิ่ม class justify-content-between เพื่อจัดปุ่มไปทางขวาและซ้าย -->
                        <div class=" col-auto">
                            <span class="mx-1" ng-if="submit_type">
                                <button class="btn btn-success btn-sm col-auto" ng-if="!(flow_status == 14)" ng-click="ConfirmDialogSubmit('confirm_submit_reviewer')">
                                    Submit to Reviewer
                                </button>
                                <button class="btn btn-success btn-sm col-auto" ng-if="(flow_status == 14)" ng-click="ConfirmDialogSubmit('confirm_approve_close')">
                                    Approve and Close
                                </button>
                            </span>
                        </div>
                        <div class=" col-auto justify-content-end">
                            <span class="mx-1" ng-if="submit_type">
                                <button class="btn btn-default btn-sm col-auto" style="background-color: #c9c5c5;" ng-click="ConfirmDialogSubmit('confirm_cancel')">
                                    Cancel
                                </button>
                            </span>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
    <!--Modal Check ปุ่ม Submit-->
    <!--Modal Export File Start-->
    <div class="modal fade" id="modalExportFile" tabindex="-1" aria-labelledby="modalExportFileLabel"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalExportFileLabel">Download File</h5>
                    <button class="btn p-1" type="button" data-bs-dismiss="modal" aria-label="Close">
                        <svg class="svg-inline--fa fa-xmark fs--1" aria-hidden="true" focusable="false" data-prefix="fas"
                             data-icon="xmark" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"
                             data-fa-i2svg="">
                            <path fill="currentColor"
                                  d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z">
                            </path>
                        </svg>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="bg-white position-relative top-1">

                        <a href="{{exportfile[0].DownloadPath}}" id="exportfile" name="exportfile" target="_blank">
                            {{exportfile[0].Name}}
                        </a>

                    </div>

                </div>

            </div>
        </div>
    </div>
    <!--Modal Export File End-->
    <!--Modal Export File Responder Start-->
    <div class="modal fade" id="modalExportResponderFile" tabindex="-1" aria-labelledby="modalExportResponderFileLabel"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalExportResponderFileLabel">Download File Action Owner</h5>
                    <button class="btn p-1" type="button" data-bs-dismiss="modal" aria-label="Close">
                        <svg class="svg-inline--fa fa-xmark fs--1" aria-hidden="true" focusable="false" data-prefix="fas"
                             data-icon="xmark" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"
                             data-fa-i2svg="">
                            <path fill="currentColor"
                                  d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z">
                            </path>
                        </svg>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="bg-white position-relative top-1"
                         ng-repeat="item_x in data_drawingworksheet_responder | filter:{id_worksheet:id_worksheet_select}">
                        <a href="{{item_x.document_file_path}}" target="_blank">
                            {{item_x.document_file_name}}
                        </a>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!--Modal Export File Responder End-->
    <!--Modal Export File Reviewer Start-->
    <div class="modal fade" id="modalExportReviewerFile" tabindex="-1" aria-labelledby="modalExportReviewerFileLabel"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalExportReviewerFileLabel">Download File Reviewer</h5>
                    <button class="btn p-1" type="button" data-bs-dismiss="modal" aria-label="Close">
                        <svg class="svg-inline--fa fa-xmark fs--1" aria-hidden="true" focusable="false" data-prefix="fas"
                             data-icon="xmark" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"
                             data-fa-i2svg="">
                            <path fill="currentColor"
                                  d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z">
                            </path>
                        </svg>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="bg-white position-relative top-1"
                         ng-repeat="item_x in data_drawingworksheet_reviewer | filter:{id_worksheet:id_worksheet_select}">
                        <a href="{{item_x.document_file_path}}" target="_blank">
                            {{item_x.document_file_name}}
                        </a>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!--Modal Export File Reviewer End-->
    <!--Modal Save Start-->
    <div class="modal fade" id="modalMsg" tabindex="-1" aria-labelledby="modalMsgLabel"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="width: 100%; min-height: 300px;">
                <div class="modal-header justify-content-center align-items-center" style="display: flex !important;"
                     ng-class="{ 'bg-warning' : (Action_Msg_Header == 'Warning'? true :false),'bg-primary' : (Action_Msg_Header == 'Warning'? false :true) }">
                    <div class="d-flex mb-2 d-none">
                        <i class="fa-solid fa-triangle-exclamation fa-lg" ng-if="Action_Msg_Header == 'Warning'"
                           style="color: rgb(255, 255, 255); font-size: 80px; font-weight: bold;"></i>
                        <i class="fa-solid fa-circle-check fa-lg" ng-if="Action_Msg_Header != 'Warning'"
                           style="color: rgb(255, 255, 255); font-size: 80px; font-weight: bold;"></i>
                    </div>
                </div>
                <div class="modal-body" ng-if="Action_Msg_Header == 'Success'">
                    <div class="d-flex justify-content-center align-items-center mb-3">
                        <h5 class="mb-0 text-center " style="font-size: 40px; font-weight: bold;" data-anchor="data-anchor" id="modalMsgLabel">
                            {{Action_Msg_Header}}
                        </h5>
                    </div>
                    <div class="d-flex justify-content-center align-items-center mt-3 mb-3">
                        <p class="lh-lg mb-0 text-center" style="font-size: 16px;">
                            {{ Action_Msg_Detail}}
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--Modal Save End-->

</div>

@section Scripts {

    <script src="~/assets/js/angular.min.js"></script>
    <script src="~/assets/js/lodash.min.js"></script>
    <script src="~/assets/js/phoenix.js"></script>
    <script src="~/assets/js/choices.min.js"></script>
    <script src="~/assets/js/fakedata.js"></script>

    <script src="~/js/_flow/hazopfollowup_update.js"></script>


}
