 
@{
    ViewData["Title"] = "Compare Initial Risk Rating";

    Layout = "~/Views/Shared/_LayoutWeb.cshtml";

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <link rel="stylesheet" href="~/assets/css/theme.min.css">

    <link rel="stylesheet" href="~/assets/css/tablefreezer.css">

    <link href="~/assets/css/theme.min.css" type="text/css" rel="stylesheet" id="style-default">

    <link href="~/assets/css/choices.min.css" type="text/css" rel="stylesheet">

    <link href="~/css/autocomplete.css" type="text/css" rel="stylesheet">

    <script src="~/assets/js/config.js"></script>


    <script src="~/assets/js/all.min.js"></script>

}

<div class="content mt-1" style="font-size: 12px; min-height: auto!important;" id="divPage" ng-controller="ctrlAppPage">
</div>
@section Scripts {

    <script src="~/assets/js/angular.min.js"></script>
    <script src="~/assets/js/lodash.min.js"></script>
    <script src="~/assets/js/phoenix.js"></script>
    <script src="~/assets/js/choices.min.js"></script>
    <script src="~/assets/js/fakedata.js"></script>

    <script src="~/js/_flow/hometasks.js"></script>

}