@{
    ViewData["Title"] = "Funtional Location";

    Layout = "~/Views/Shared/_LayoutWeb.cshtml";

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <link rel="stylesheet" href="~/assets/css/theme.min.css">

    <link rel="stylesheet" href="~/assets/css/tablefreezer.css">

    <link href="~/assets/css/theme.min.css" type="text/css" rel="stylesheet" id="style-default">

    <link href="~/assets/css/choices.min.css" type="text/css" rel="stylesheet">

    <link href="~/css/autocomplete.css" type="text/css" rel="stylesheet">

    <script src="~/assets/js/config.js"></script>

    <script src="~/assets/js/all.min.js"></script>

}

<div class="content mt-1" style="font-size: 12px; min-height: auto!important;" id="divPage" ng-controller="ctrlAppPage">

    <div class="row g-0">

        <div class="col-12">

            <div class="card shadow-sm p-2 mb-3 bg-light rounded">

                <div class="card-body p-2">

                    <div class="row">

                        <div class="m-3 row  gx-0 align-items-center">

                            <div class="card px-2"
                                style="padding: 20px 20px 20px 20px; max-width: calc(100% - 30px); box-sizing: border-box;">
                                <div class="row g-3 justify-content-between align-items-center pt-2 pb-3">
                                    <div class="col-6 col-md">
                                        <h5 class="text-900 mb-0" data-anchor="data-anchor"> <span
                                                class=" me-2 text-primary"><B>|</B></span>Funtional Location</h5>
                                    </div>
                                    <div style="padding: 20px 4px 20px 4px;">
                                        <hr style="margin: 0 4px; border: 0; border-top: 1px solid #ccc;" />
                                    </div>

                                    <div class="row g-3 align-items-center pt-2">
                                        <div class="col-auto d-none">

                                            <h6 class="fw-semi-bold text-primary ng-binding"><b></b></h6>
                                        </div>
                                        <div class="col-md-10 pt-3">
                                            <button class="btn btn-custom btn-sm"
                                                style="color: #0abe0a; background-color: #0abe0a; border-color: #0abe0a;"
                                                ng-click="addData(item)">
                                                <span class="fa-solid fa-plus" style="color: #fff;"></span>
                                                <span class="form-label mb-0" style="color: #ffffff;">New Functional
                                                    Location</span>
                                            </button>
                                        </div>


                                        <div class="col-auto pt-3">
                                            <div class="position-relative">
                                                <button class="btn btn-secondary btn-sm" style="width: 100px;"
                                                    ng-click="confirmBack()">Back</button>
                                                <button class="btn btn-primary btn-sm" style="width: 100px;"
                                                    ng-click="confirmSave()">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row g-3 justify-content-between align-items-center pt-2 pb-3">


                                    <div class="table-responsive scrollbar " id="table-container">
                                        เบื้องต้นใช้ค่า field : functional_location ที่นำไปแสดงเท่านั้น
                                        @*seq,id,notif_date,notif_time,notification,orders,typ,p,pls,functional_location,descriptions_func,descriptions
                                        ,mn_wk,plnt,reported_by,required_start,required_end,user_status,date_update,active_type
                                        *@

                                        <table class="table fs--2 mb-0 " cellpadding="0" cellspacing="0">
                                            <thead class=" text-uppercase  text-center  bg-soft "
                                                style="font-size: 10px;" id="myHeader">
                                                <tr>
                                                    <td style='padding: 15px;'>No</td>
                                                    <td style='padding: 15px;'>Functional Location</td>
                                                    <td style='padding: 15px;'>Active</td>
                                                    <td style='padding: 15px;'></td>

                                                </tr>
                                            </thead>
                                            <tbody class="customer-rating-table-body">
                                                <tr class="hover-actions-trigger btn-reveal-trigger position-static rowwork"
                                                    ng-repeat="item in data | orderBy: seq">
                                                    <td class="align-top text-center">
                                                        <div class="p-1 ">
                                                            <h6 class="fw-semi-bold">{{$index +1}}</h6>
                                                        </div>
                                                    </td>
                                                    <td class="align-top text-start">
                                                        <input class="form-control" id="functional_location"
                                                                data-ng-model="item.functional_location" type="text" placeholder="Functional Location"
                                                                ng-change="actionChangedData(item, 'functional_location')" />
                                                    </td>
                                                    <td class="align-top text-center">
                                                        <div class="p-1 ">
                                                            
                                                               <input class="form-check-input"
                                                                   style="cursor: pointer;width:20px; height:20px;"

       id="flexSwitchCheckChecked"
       type="checkbox"
       ng-checked="item.active_type == 1"
       ng-if="item.active_type !== undefined" />
                                                        </div>
                                                    </td>
                                                    <td class="align-top text-center">
                                                        <div class="p-1 ">
                                                            <button class="btn btn-outline-secondary p-2"
                                                                data-toggle="tooltip" data-placement="top"
                                                                title="Remove"
                                                                style="color: #ff2828; background-color: #f1f2f4; border-color: #ff2828;"
                                                                ng-click=removeData(item.seq,$index)>
                                                                <span class="fa-regular fa-trash-can fa-lg"></span>
                                                            </button>
                                                            
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>

                                        </table>

                                    </div>

                                </div>
                                <div>
                                    File Atthachment : เอกสารประกอบไม่ใช่การ Import data เข้าระบบ
                                </div>

                                <div class="row g-3 align-items-center pt-2">
                                    <div class="col-auto">
                                        <button class="btn btn-custom d-flex align-items-center"
                                            style=" background-color: #0d6efd; padding: 0;">
                                            <!-- Icon -->
                                            <div class="icon-button"
                                                style="border: 2px solid #0d6efd; background-color: #0d6efd; color: #ffffff; padding: 15px; display: flex; align-items: center; justify-content: center;">
                                                <span class="fa-solid fa-arrow-up-from-bracket fa-lg"></span>
                                            </div>
                                            <!-- Text and File Input -->
                                            <div class="d-flex flex-grow-1 align-items-center ms-2"
                                                style="border: 2px solid #0d6efd; background-color: #ffffff; color: #0d6efd; padding: 15px; position: relative; flex: 1; min-width: 0;">
                                                <span class="nametext filename-text me-2 d-none"
                                                    id="filename{{item.seq}}">
                                                    {{fileLabel}}
                                                </span>
                                                <label class="dz-message-text fw-bold mb-0 cursor-pointer"
                                                    for="attfile-{{item.seq}}"
                                                    style="flex-grow: 1; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                    {{fileLabel}}
                                                </label>
                                                <input type="file" id="attfile-{{item_x.seq}}" class="cursor-pointer"
                                                    ngf-select="Fileselect($file)"
                                                    />
                                            </div>
                                        </button>
                                    </div>
                                </div>



                            </div>

                        </div>
                    </div>

                </div>


            </div>
        </div>

    </div>


</div>
@section Scripts {

    <script src="~/assets/js/angular.min.js"></script>
    <script src="~/assets/js/lodash.min.js"></script>
    <script src="~/assets/js/phoenix.js"></script>
    <script src="~/assets/js/choices.min.js"></script>
    <script src="~/assets/js/fakedata.js"></script>

    <script src="~/js/_master/hazop_functionallocation.js"></script>

}