@{
    ViewData["Title"] = "Master Portal";

    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
    <link rel="stylesheet" href="~/css/masterStyles/main_style.css">

}

<div class="px-10" id="divPage" ng-controller="ctrlAppPage">
    <div class="d-flex mt-12" style="min-height: 90vh; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
        @* sidebar *@
        <div class="sidebar bg-secondary">
            <section class="sidebar-start">
                <div class="sidebar-menu" 
                    ng-class="{'active': item.active}"
                    ng-repeat="item in menu_List"
                    ng-click="changeTabSidebar(item)">
                    <i class="{{ item.icon }}"></i>
                    <span>{{ item.title }}</span>
                </div>
            </section>
            <section class="sidebar-end">
                <div class="sidebar-menu end" 
                    ng-class="{'active': item.active}"
                    ng-click="onReverse()">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span>To Portal</span>
                </div>
            </section>
        </div>
        <div class="sidebar-content flex-grow-1" ng-if="menu_List[0].active">
             <div class="d-flex flex-column gap-2">
               <div class="content-menu" 
                    ng-repeat="item in menu_List[0].sub_menu"
                    ng-click="onClickMenu(item)">
                    <div class="d-flex align-items-center justify-content-between w-100">
                        <div class="d-flex d-flex align-items-center gap-4">
                            <div style="color: #707070">
                                {{ $index + 1 }}
                            </div>
                            <span style="color: #e3e6ed;">|</span>
                            <div class="p">
                                {{ item.title }}
                            </div>
                        </div>
                        <div class="bard-setting">
                            <i class="fa-solid fa-wrench"></i>
                            Setting
                        </div>
                    </div>
               </div>
            </div>
        </div>
        <div class="sidebar-content flex-grow-1" ng-if="menu_List[1].active">
            <div class="d-flex flex-column gap-2">
               <div class="content-menu" 
                    ng-repeat="item in menu_List[1].sub_menu"
                    ng-click="onClickMenu(item)">
                    <div class="d-flex align-items-center justify-content-between w-100">
                        <div class="d-flex align-items-center gap-4">
                            <div style="color: #707070">
                                {{ $index + 1 }}
                            </div>
                            <span style="color: #e3e6ed">|</span>
                            <div class="p">
                                {{ item.title }}
                            </div>
                        </div>
                        <div class="bard-setting">
                            <i class="fa-solid fa-wrench"></i>
                            Setting
                        </div>
                    </div>
               </div>
            </div>
        </div>
        <div class="sidebar-content flex-grow-1" ng-if="menu_List[2].active">
            <div class="d-flex flex-column gap-2">
               <div class="content-menu" 
                    ng-repeat="item in menu_List[2].sub_menu"
                    ng-click="onClickMenu(item)">
                    <div class="d-flex align-items-center justify-content-between w-100">
                        <div class="d-flex align-items-center gap-4">
                            <div style="color: #707070">
                                {{ $index + 1 }}
                            </div>
                            <span style="color: #e3e6ed;">|</span>
                            <div class="p">
                                {{ item.title }}
                            </div>
                        </div>
                        <div class="bard-setting">
                            <i class="fa-solid fa-wrench"></i>
                            Setting
                        </div>
                    </div>
               </div>
            </div>
        </div>
        <div class="sidebar-content flex-grow-1" ng-if="menu_List[3].active">
            <div class="d-flex flex-column gap-2">
               <div class="content-menu" 
                    ng-repeat="item in menu_List[3].sub_menu"
                    ng-click="onClickMenu(item)">
                    <div class="d-flex align-items-center justify-content-between w-100">
                        <div class="d-flex align-items-center gap-4">
                            <div style="color: #707070">
                                {{ $index + 1 }}
                            </div>
                            <span style="color: #e3e6ed;">|</span>
                            <div class="p">
                                {{ item.title }}
                            </div>
                        </div>
                        <div class="bard-setting">
                            <i class="fa-solid fa-wrench"></i>
                            Setting
                        </div>
                    </div>
               </div>
            </div>
        </div>
        <div class="sidebar-content flex-grow-1" ng-if="menu_List[4].active">
            <div class="d-flex flex-column gap-2">
               <div class="content-menu" 
                    ng-repeat="item in menu_List[4].sub_menu"
                    ng-click="onClickMenu(item)">
                    <div class="d-flex align-items-center justify-content-between w-100">
                        <div class="d-flex align-items-center gap-4">
                            <div style="color: #707070">
                                {{ $index + 1 }}
                            </div>
                            <span style="color: #e3e6ed;">|</span>
                            <div class="p">
                                {{ item.title }}
                            </div>
                        </div>
                        <div class="bard-setting">
                            <i class="fa-solid fa-wrench"></i>
                            Setting
                        </div>
                    </div>
               </div>
            </div>
        </div>
    </div>
</div>

@* <div class="row flex-center position-relative sg-0" style="max-height:100vh; max-width: 100%;" id="divPage" ng-controller="ctrlAppPage">
    <div class="content" style="max-height:100vh; max-width: 100%;">
        <div class="card shadow-none border border-300 " data-component-card="data-component-card">

            <div class="card-body" style="max-width: 100%;">
                <div class="col-12 " style="zoom:0.8;">

                    <div class="card rounded shadow-lg border-0">

                        <div class="card-body border-0" ng-if="menu_main_manageuser">
                            <div class="row gx-4 gy-2 d-flex  p-1  bg-light" style="margin-left: auto !important;">
                                <h3 class="p-2 m-2  bg-secondary text-light ">Manage User</h3>
                                <a href="Master/ManageUser" ng-if="menu_manageuser"
                                   class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-9 col-12 text-decoration-none">
                                    <h3 class="mt-2 text-center border-bottom">Manage User (Employee and Contracter)</h3>
                                </a>
                                <a href="Master/AuthorizationSetting" ng-if="menu_authorizationsetting"
                                   class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-9 col-12 text-decoration-none">
                                    <h3 class="mt-2 text-center border-bottom">Authorization Setting</h3>
                                </a>
                            </div>
                            <div class="row gx-4 gy-2 d-flex  p-1  bg-light" ng-if="menu_main_storagelocation" style="margin-left: auto !important;">
                                <h3 class="p-2 m-2  bg-secondary text-light ">Systemwide Master Data</h3>
                                <a href="Master/StorageLocation" ng-if="menu_storagelocation"
                                   class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-9 col-12 text-decoration-none">
                                    <h3 class="mt-2 text-center border-bottom">Company, Department and Sections</h3>
                                </a>
                                <a href="Master/Area" ng-if="menu_area"
                                   class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-9 col-12 text-decoration-none">
                                    <h3 class="mt-2 text-center border-bottom">Area Process Unit</h3>
                                </a>
                                <a href="Master/Toc" ng-if="menu_toc"
                                   class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-9 col-12 text-decoration-none">
                                    <h3 class="mt-2 text-center border-bottom">Complex</h3>
                                </a>
                                <a href="Master/BusinessUnit" ng-if="menu_businessunit"
                                   class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-9 col-12 text-decoration-none">
                                    <h3 class="mt-2 text-center border-bottom">Unit No/Name of Sub Area</h3>
                                </a>
                                <a href="Master/Systemwide/RiskAssessmentMatrix" ng-if="menu_riskassessmentmatrix"
                                   class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-9 col-12 text-decoration-none">
                                    <h3 class="mt-2 text-center border-bottom">Manage Risk Assessment Matrix (RAM)</h3>
                                </a>
                            </div>
                            <div class="row gx-4 gy-2 d-flex  p-1  bg-light" ng-if="menu_main_hazopmodule" style="margin-left: auto !important;">
                                <h3 class="p-2 m-2  bg-secondary text-light ">HAZOP Module</h3>
                                <a href="Master/FunctionalLocation" ng-if="menu_functionallocation"
                                   class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-9 col-12 text-decoration-none">
                                    <h3 class="mt-2 text-center border-bottom">Functional Location</h3>
                                </a>
                                <a href="Master/GuideWords" ng-if="menu_guidewords"
                                   class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-9 col-12 text-decoration-none">
                                    <h3 class="mt-2 text-center border-bottom">Guide Words</h3>
                                </a>
                            </div>
                            <div class="row gx-4 gy-2 d-flex  p-1  bg-light" ng-if="menu_main_jseamodule" style="margin-left: auto !important;">
                                <h3 class="p-2 m-2  bg-secondary text-light ">JSEA Module</h3>
                                <a href="Master/ManagementJSEA" ng-if="menu_managementjsea"
                                   class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-9 col-12 text-decoration-none">
                                    <h3 class="mt-2 text-center border-bottom">Module Management</h3>
                                </a>
                                <a href="Master/TageID" ng-if="menu_tageid"
                                   class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-9 col-12 text-decoration-none">
                                    <h3 class="mt-2 text-center border-bottom">Tag ID/Equipment</h3>
                                </a>
                                <a href="Master/TaskType" ng-if="menu_tasktype"
                                   class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-9 col-12 text-decoration-none">
                                    <h3 class="mt-2 text-center border-bottom">Task Type</h3>
                                </a>
                                <a href="Master/MandatoryNote" ng-if="menu_mandatorynote"
                                   class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-9 col-12 text-decoration-none">
                                    <h3 class="mt-2 text-center border-bottom">Mandatory Note</h3>
                                </a>
                            </div>
                            <div class="row gx-4 gy-2 d-flex  p-1  bg-light" ng-if="menu_main_whatifmodule" style="margin-left: auto !important;">
                                <h3 class="p-2 m-2  bg-secondary text-light ">What's If Module</h3>
                                <a href="Master/ManagementJSEAWhatif" ng-if="menu_managementwhatif"
                                   class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-9 col-12 text-decoration-none">
                                    <h3 class="mt-2 text-center border-bottom">Index</h3>
                                </a>
                            </div>
                            <div class="row gx-4 gy-2 d-flex  p-1  bg-light" ng-if="menu_main_hramodule" style="margin-left: auto !important;">
                                <h3 class="p-2 m-2  bg-secondary text-light ">HRA Module</h3>
                                <a href="Master/NameSubAreaGroup" ng-if="menu_namesubarea_group"
                                   class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-9 col-12 text-decoration-none">
                                    <h3 class="mt-2 text-center border-bottom">Group of Sub Area</h3>
                                </a> 
                                <a href="Master/NameSubAreaGroup" ng-if="menu_namesubarea_equipmet"
                                   class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-9 col-12 text-decoration-none">
                                    <h3 class="mt-2 text-center border-bottom">Equipmet of Sub Area</h3>
                                </a> 

                                <a href="Master/HazardType" ng-if="menu_hazardtype"
                                   class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-9 col-12 text-decoration-none">
                                    <h3 class="mt-2 text-center border-bottom">Type of Hazard</h3>
                                </a>
                                <a href="Master/HazardRiskFactors" ng-if="menu_hazardriskfactors"
                                   class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-9 col-12 text-decoration-none">
                                    <h3 class="mt-2 text-center border-bottom">Health Hazard of Risk Factor</h3>
                                </a>
                                <a href="Master/WorkerGroupList" ng-if="menu_workergrouplist"
                                   class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-9 col-12 text-decoration-none">
                                    <h3 class="mt-2 text-center border-bottom">Worker Group </h3>
                                </a>
                                <a href="Master/WorkerGroup" ng-if="menu_workergroupset"
                                   class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-9 col-12 text-decoration-none">
                                    <h3 class="mt-2 text-center border-bottom">Set Worker Group</h3>
                                </a>
                                <a href="Master/FrequencyLevel" ng-if="menu_frequencylevel"
                                   class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-9 col-12 text-decoration-none">
                                    <h3 class="mt-2 text-center border-bottom">Frequency Level</h3>
                                </a>
                                <a href="Master/CompareExposureRating" ng-if="menu_compareexposurerating"
                                   class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-9 col-12 text-decoration-none">
                                    <h3 class="mt-2 text-center border-bottom">Exposure Rating</h3>
                                </a>
                                <a href="Master/CompareInitialRiskRating" ng-if="menu_compareinitialriskrating"
                                   class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-9 col-12 text-decoration-none">
                                    <h3 class="mt-2 text-center border-bottom">Initial Risk Rating</h3>
                                </a>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div> *@

@section scripts {
    <script src="~/js/_master/index.js"></script>
}