/*Upload file button*/
.uploadbox {
    background-color: #f5f7fa;
    border-radius: 6px;
    max-width: 350px !important;
    min-width: 250px !important;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.uploadfile {
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    display: flex;
    align-items: center;
}

.upload-text {
    display: none;
    margin-right: 6px;
}


.uploadfile:focus-within,
.uploadfile:focus {
    outline: 2px solid #b7b8b8;
    outline-offset: 2px;

}
    
.uploadfile {
    border-radius: 4px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(#000, 0.16);
    box-shadow: 0px 1px 0px rgba(#000, 0.05);
    margin-right: 16px;
    transition: transform 0.3s;
}

.uploadfile:hover ,
.uploadfile:focus {
    border: 1px solid #73adf8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.filename-container {
    display: flex;
    align-items: start;
    width: 80%;
}

.filename-text {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    margin-right: 3px;
}

.uploadbox:hover .upload-text {
    display: inline-block;
}

.upload-text {
    display: none;
    margin-right: 6px;
}

/*
@media screen and (max-width: 800px) {
    .uploadbox{
        background-color: #f5f7fa;
        border-radius: 6px;
        width: 20px;
        height: 30px;        
    }
    .uploadbox .nametext{
        display: none;
    }
    
    .uploadbox .fa-arrow-up-from-bracket {
        visibility: visible !important;
    }
     
}*/


/*new export file for jsea*/
.btn-group .icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.375rem 0 0 0.375rem;
    margin: 0;
}

.btn-group .Download-button {
    border-radius: 0 0.375rem 0.375rem 0; 
    margin: 0;
    border-color: #ff1a1a;
    background-color: #ffffff;
    color: #ff1a1a;
    transition: background-color 0.3s ease, opacity 0.3s ease; 
}

.btn-group .Download-button:hover {
    background-color: #ff1a1a;
    color: #ffffff;
    opacity: 0.5;
}

.btn-group .Upload-button {
    border-radius: 0 0.375rem 0.375rem 0; 
    margin: 0;
    border-color: #0d6efd;
    background-color: #ffffff;
    color: #0d6efd;
    transition: background-color 0.3s ease, opacity 0.3s ease; 
}
.btn-group .Upload-button:hover {
    background-color: #0d6efd;
    color: #ffffff;
    opacity: 0.5;
}
.Upload-button .label:hover{
    color: #ffffff;
}
.btn-group .Upload-show{
    border-radius: 0 0.375rem 0.375rem 0;
    margin: 0;
    border-color: #0d6efd;
    background-color: #ffffff;
    color: #0d6efd;
    transition: background-color 0.3s ease, opacity 0.3s ease;  
}
.nametext {
    display: inline-block;
    max-width: 200px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}


.fa-download {
    color: #ffffff;
}







