/* Global scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    height: 10px;
}

/* Specific styles for elements with the .scrolltab class */
.scrolltab {
    ::-webkit-scrollbar {
        width: 12px;
    }

    ::-webkit-scrollbar-track {
        background: #ffffff;
    }

    ::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 6px;
    }
}


/* Hide the default scrollbar */
.worksheetscroll {
    scrollbar-width: thin; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

.worksheetscroll{
    ::-webkit-scrollbar {
        width: 6px;
    }

    ::-webkit-scrollbar-track {
        background: #ffffff;
    }

    /*::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
    }  */  

    ::-webkit-scrollbar-track {
        background-color: #f1f1f1;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 10px;
    }
}

