@{
    ViewData["Title"] = "What's If Sub-Sofware";

    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <link rel="stylesheet" href="~/assets/css/theme.min.css">

    <link rel="stylesheet" href="~/assets/css/tablefreezer.css">

    <link href="~/assets/css/theme.min.css" type="text/css" rel="stylesheet" id="style-default">
    <link href="~/assets/css/choices.min.css" type="text/css" rel="stylesheet">

    <script src="~/assets/js/config.js"></script>
}

<div class="content mt-1 d-none" style="font-size: 12px; min-height: auto!important;" id="divPage" ng-controller="ctrlAppPage">

    <div class="modal fade" id="modalMsgConfirm" tabindex="-1" aria-labelledby="modalMsgConfirmLabel" aria-hidden="true"
         style="display: none;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="text-900 mb-0" data-anchor="data-anchor" id="modalMsgConfirmLabel">
                        <span class=" me-2 text-primary"><B>|</B></span> Do you want to update and close the item?
                    </h5>

                    <button class="btn p-1" type="button" data-bs-dismiss="modal" aria-label="Close">
                        <svg class="svg-inline--fa fa-xmark fs--1" aria-hidden="true" focusable="false"
                             data-prefix="fas" data-icon="xmark" role="img" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 320 512" data-fa-i2svg="">
                            <path fill="currentColor"
                                  d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z">
                            </path>
                        </svg>
                    </button>

                </div>
                <div class="modal-body">
                    <button class="btn btn-success me-1 mb-1" type="button">Yes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row g-0">

        <div class="col-12">
            <div class="row g-3 justify-content-between align-items-center pt-2 pb-3">
                <div class="col-6 col-md">
                    <h5 class="text-900 mb-0" data-anchor="data-anchor"> <span class=" me-2 text-primary"><B>|</B></span> Followup Sub-Software What'is If'</h5>
                </div>
                <div class="col-6 col-md">
                    <div class="d-flex align-items-center py-2  justify-content-end">
                        <span class="mx-2" ng-if="cancle_type">
                            <button class="btn btn-outline-secondary btn-sm" style="width: 100px;" ng-click="confirmCancle()">Back</button>
                        </span>
                        <span class="mx-2" ng-if="submit_type">
                            <button class="btn btn-success btn-sm" style="width: 100px;" ng-click="confirmCreate('create')">Create</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="card shadow-sm p-2 mb-3 bg-light rounded">

                <div class="col-auto">
                    <div class="invalid-feedback">Please provide a valid city.</div>

                    <div class="search-box position-relative" ng-if="tabChange == 'worksheet'">
                        <input class="form-control search-input search"  
                               ng-model="searchMultiText.pha_no" ng-change="searchMultiChange()" placeholder="Search Document Number" />
                        <span class="fas fa-search search-box-icon"></span>


                    </div>
                    <div class="search-box position-relative" ng-if="!(tabChange == 'worksheet')">
                        <input class="form-control search-input search"
                               ng-model="searchMultiText.user_displayname" ng-change="searchMultiChange()" placeholder="Search Owner" />
                        <span class="fas fa-search search-box-icon"></span>
                    </div>

                </div>
                <div class="card-body p-2" ng-repeat="item_m in data_general">

                      
                    <div class="">
                        <div class="row g-3 justify-content-between align-items-center pt-2 pb-3" ng-if="flow_role_type=='admin'">

                            <ul class="nav nav-underline border-3 border-primary border-bottom " id="myTab" role="tablist">

                                <li class="mx-2 ">
                                    <a class="btn btn-outline-primary border border-0 active" style="border-radius: 10px 10px 0px 0px !important;"
                                       id="home-tab" data-bs-toggle="tab" href="#tab-worksheet" role="tab" aria-controls="tab-worksheet"
                                       aria-selected="true" ng-click="handleLinkClick('worksheet')">Worksheet</a>
                                </li>
                                <li class="mx-2">
                                    <a class="btn btn-outline-primary border border-0 " style="border-radius: 10px 10px 0px 0px !important; "
                                       id="profile-tab" data-bs-toggle="tab" href="#tab-responder" role="tab" aria-controls="tab-responder"
                                       aria-selected="false" ng-click="handleLinkClick('owner')">Responder</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 col-md mx-1 pt-2 ">

                            @* ng-repeat="item_h in data_header | MultiFieldFilter: searchText | filter:{data_by:tabChange}" *@
                            <div class="table-responsive scrollbar tableFixHead" id="table-container" style="font-size: 10px;" tabindex="1"
                                 ng-if="(flow_role_type =='admin')">
                                <table class="table fs--2 mb-0 table-bordered " cellpadding="0" cellspacing="0">
                                    <thead class=" text-uppercase  text-center  bg-soft  test" style="font-size: 10px;" id="myHeader">
                                        <tr>
                                            <th class="align-middle text-center" scope="col" style="font-size: 10px;" rowspan="2"></th>
                                            <th class="align-middle" scope="col" style="font-size: 10px;" rowspan="2">Sub-Software</th>
                                            <th class="align-middle" scope="col" style="font-size: 10px;" rowspan="2">PHA Status</th>
                                            <th class="align-middle" scope="col" style="font-size: 10px;" rowspan="2">PHA No.</th>
                                            <th class="align-middle" scope="col" style="font-size: 10px;" rowspan="2" ng-if="tabChange == 'worksheet'">Project Name/e-MOC Request Number</th>
                                            <th class="align-middle" scope="col" style="font-size: 10px;" rowspan="2" ng-if="tabChange == 'owner'">Owner</th>
                                            <th class="align-middle text-center" scope="col" colspan="3">Items Status</th>
                                            <th class="align-middle text-center" scope="col" style="font-size: 10px;" rowspan="2" ng-if="tabChange == 'worksheet'"></th>
                                        </tr>
                                        <tr>
                                            <th class="align-middle text-center" scope="col" style="font-size: 10px;">Total</th>
                                            <th class="align-middle text-center" scope="col" style="font-size: 10px;">Open</th>
                                            <th class="align-middle text-center" scope="col" style="font-size: 10px;">Close</th>
                                        </tr>
                                    </thead>
                                    <tbody class="customer-rating-table-body">
                                        <tr class="hover-actions-trigger btn-reveal-trigger position-static rowwork"
                                            ng-repeat="item_h in data_header | MultiFieldFilter: searchMultiText"
                                            ng-if="item_h.action_type == 'update' && ((item_h.pha_status == 13 && tabChange == 'owner') || flow_role_type=='admin') ">
                                            <td class="align-top" style="width:100px;">

                                                <button class="btn btn-outline text-primary p-1" style=" background-color: #f1f2f4;width:100px; "
                                                        ng-click="selectDetails(item_h)">
                                                    See Action Items
                                                </button>

                                            </td>
                                            <td class="align-top" style="width:150px;">
                                                <div class="p-1 text-center" style="width:100px;">
                                                    <h6 class="fw-semi-bold text-uppercase">{{item_h.pha_sub_software}}</h6>
                                                </div>
                                            </td>
                                            <td class="align-top" style="width:150px;">
                                                <div class="p-1 text-center" style="width:100px;">
                                                    <h6 class="fw-semi-bold text-uppercase">{{item_h.pha_status_name}}</h6>
                                                </div>
                                            </td>
                                            <td class="align-top">
                                                <div class="p-1 text-center">
                                                    <h6 class="fw-semi-bold">{{item_h.pha_no}}</h6>
                                                </div>
                                            </td>
                                            <td class="align-top" ng-if="tabChange == 'worksheet'">
                                                <div class="p-1 ">
                                                    <h6 class="fw-semi-bold">{{item_h.pha_request_name}}</h6>
                                                </div>
                                            </td>
                                            <td class="align-top" ng-if="tabChange == 'owner'">
                                                <div class="p-1 ">
                                                    <h6 class="fw-semi-bold">{{item_h.responder_user_displayname}}</h6>
                                                </div>
                                            </td>
                                            <td class="align-top text-center" style="width:100px;">
                                                <div class="p-1 text-center" style="width:100px;">
                                                    <h6 class="fw-semi-bold text-center ">{{item_h.status_total}}</h6>
                                                </div>
                                            </td>
                                            <td class="align-top text-center" style="width:100px;">
                                                <div class="p-1 text-center" style="width:100px;">
                                                    <h6 class="fw-semi-bold text-center text-danger">{{item_h.status_open}}</h6>
                                                </div>
                                            </td>
                                            <td class="align-top" style="width:100px;">
                                                <div class="p-1 text-center" style="width:100px;">
                                                    <h6 class="fw-semi-bold text-center text-success">{{item_h.status_closed}}</h6>
                                                </div>
                                            </td>
                                            <td class="align-top d-none" style="width:100px;" ng-if="tabChange == 'worksheet'">
                                                <div class="p-1 text-center" style="width:100px;">
                                                    <h6 class="fw-semi-bold text-primary"><a href="" ng-click="selectDoc(item_h)">See Details</a></h6>
                                                </div>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table> 
                            </div>

                            @*<div class="table-responsive scrollbar tableFixHead" id="table-container" style="font-size: 10px;" tabindex="1"
                                 ng-if="!(flow_role_type =='admin')">
                                <table class="table fs--2 mb-0 table-bordered " cellpadding="0" cellspacing="0">
                                    <thead class=" text-uppercase  text-center  bg-soft  test" style="font-size: 10px;" id="myHeader">
                                        <tr>
                                            <th class="align-middle text-center" scope="col" style="font-size: 10px;" rowspan="2"></th>
                                            <th class="align-middle" scope="col" style="font-size: 10px;" rowspan="2">Sub-Software</th>
                                            <th class="align-middle" scope="col" style="font-size: 10px;" rowspan="2">PHA Status</th>
                                            <th class="align-middle" scope="col" style="font-size: 10px;" rowspan="2">PHA No.</th>
                                            <th class="align-middle" scope="col" style="font-size: 10px;" rowspan="2">Project Name/e-MOC Request Number</th>
                                            <th class="align-middle" scope="col" style="font-size: 10px;" rowspan="2">Owner</th>
                                            <th class="align-middle text-center" scope="col" colspan="3">Items Status</th> 
                                        </tr>
                                        <tr>
                                            <th class="align-middle text-center" scope="col" style="font-size: 10px;">Total</th>
                                            <th class="align-middle text-center" scope="col" style="font-size: 10px;">Open</th>
                                            <th class="align-middle text-center" scope="col" style="font-size: 10px;">Close</th>
                                        </tr>
                                    </thead>
                                    <tbody class="customer-rating-table-body">
                                        <tr class="hover-actions-trigger btn-reveal-trigger position-static rowwork"
                                            ng-repeat="item_h in data_header | filter:{data_by:'owner'}"
                                            ng-if="item_h.action_type == 'update' && item_h.pha_status == 13 ">
                                            <td class="align-top" style="width:100px;">
                                                <button class="btn btn-outline text-primary p-1" style=" background-color: #f1f2f4;width:100px; "
                                                        ng-click="selectDetails(item_h)">
                                                    See Action Items
                                                </button> 
                                            </td>
                                            <td class="align-top" style="width:150px;">
                                                <div class="p-1 text-center" style="width:100px;">
                                                    <h6 class="fw-semi-bold text-uppercase">{{item_h.pha_sub_software}}</h6>
                                                </div>
                                            </td>
                                            <td class="align-top" style="width:150px;">
                                                <div class="p-1 text-center" style="width:100px;">
                                                    <h6 class="fw-semi-bold text-uppercase">{{item_h.pha_status_name}}</h6>
                                                </div>
                                            </td>
                                            <td class="align-top"  >
                                                <div class="p-1 text-center">
                                                    <h6 class="fw-semi-bold">{{item_h.pha_no}}</h6>
                                                </div>
                                            </td>
                                            <td class="align-top" >
                                                <div class="p-1 ">
                                                    <h6 class="fw-semi-bold">{{item_h.pha_request_name}}</h6>
                                                </div>
                                            </td>
                                            <td class="align-top" >
                                                <div class="p-1  text-center">
                                                    <h6 class="fw-semi-bold">{{item_h.responder_user_displayname}}</h6>
                                                </div>
                                            </td>
                                            <td class="align-top text-center" style="width:100px;">
                                                <div class="p-1 text-center" style="width:100px;">
                                                    <h6 class="fw-semi-bold text-center ">{{item_h.status_total}}</h6>
                                                </div>
                                            </td>
                                            <td class="align-top text-center" style="width:100px;">
                                                <div class="p-1 text-center" style="width:100px;">
                                                    <h6 class="fw-semi-bold text-center text-danger">{{item_h.status_open}}</h6>
                                                </div>
                                            </td>
                                            <td class="align-top" style="width:100px;">
                                                <div class="p-1 text-center" style="width:100px;">
                                                    <h6 class="fw-semi-bold text-center text-success">{{item_h.status_closed}}</h6>
                                                </div>
                                            </td> 
                                        </tr>
                                    </tbody>
                                </table> 
                            </div>*@
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

</div>

@section Scripts {

    <script src="~/assets/js/angular.min.js"></script>
    <script src="~/assets/js/lodash.min.js"></script>
    <script src="~/assets/js/phoenix.js"></script>
    <script src="~/assets/js/choices.min.js"></script>
    <script src="~/assets/js/fakedata.js"></script>

    <script src="~/js/_flow/whatiffollowup.js"></script>


}
